._global-main{
	@extend %center;
	@extend %box-shadow;
	max-width: $grid-max-width;
	background-color: $white;

	@include breakpoint($breakpoint-medium) {
		margin: -14em auto 3em auto;
	}
}

._global-main-content{
	color: $grey-700;
}


._global-main-content-header{
	h1{
		@extend %reset;
		color: $primary-color;
		font-size: 3.5em;
		padding: 0.75em 0.25em;
	}

	img{
		display: block;
		width: 100%;
		max-width: 100%;
	}
}

._global-main-content-body{
	@extend %clear;
	padding:0 1em 0 1em;
	font-weight: 300;

	h2, h3, h4, h5, h6{
		color: $primary-color;
		font-weight: 700;
		letter-spacing: 0.025em;
	}

}

._global-main-content-footer{
	background-color: $primary-color;
	padding: 1em;
	color: $white;
	font-size: 75%;

}